.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
.snakemake
.cache
.nv
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
mm10_optimized/*
cellranger/*
cellbender/*
souporcell/*
fastq/*
*.sif
*.h5Seurat
*.h5ad
